@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  h3 {
    @apply text-2xl sm:text-3xl;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  li {
    @apply cursor-pointer list-inside;
  }

  blockquote {
    @apply relative p-2 text-lg italic border-l-4 bg-neutral-100 text-neutral-600 border-neutral-500;
  }

  button {
    /* @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white; */
  }
}

.swiper-button-next,
.swiper-button-prev {
  /* color: white !important; */
  color: rgb(251 207 232) !important;
  /* color: rgb(219 39 119) !important; */
}

.content-renderer {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.content-renderer p {
  margin: 5px 0 5px 0;
  /* text-align: center; */
}
.content-renderer pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 13px;
  line-height: 1.6;
  max-width: 100%;
  overflow: auto;
  padding: 1em;
  display: block;
  word-wrap: break-word;
  margin: 5px 0 5px 0;
}

.content-renderer ul {
  list-style-type: none;
  margin: 5px 0 5px 0;
}
